.header {
  display: flex;
  padding: 20px 22px;
  justify-content: space-between;
  background: #FFFFFF;
  font-size: 18px;
  align-items: center;

  &__blog-name {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
  }

  &__auth-wrapper {
    display: flex;
    align-items: center;

  }

  &__sign-in {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    padding: 13px 18px 16px 18px;
  }

  &__sign-up {
    text-decoration: none;
    border: 1px solid #52C41A;
    padding: 13px 18px 16px 18px;
    border-radius: 5px;
    color: #52C41A;
  }

  &__logout {
    padding: 13px 18px 13px 18px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.75);;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.75);
    margin-left: 27px;
  }

  &__create-post {
    text-decoration: none;
    border-radius: 5px;
    color: #52C41A;
    border: 1px solid #52C41A;
    padding: 8px 8px 8px 8px;
    margin-right: 20px;
  }

  &__profile {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);

    img {
      margin-left: 15px;
    }
  }
}
